:root {
  /*  ------------------  fonts  -------------------------- */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*  ------------------- text colors  ------------------ */
  --btn-txt-cl: #ffffff;
  --main-txt-cl: #212121;
  --hdr-cntcts-lst: #757575;
  --accent-txt-cl: #2196f3;
  --porfolio-border-img: #eeeeee;
  --logo-black: #000000;
  --btn-prtfl: #f5f4fa;
  --item-light: rgba(255, 255, 255, 0.6);
  --sctn-sntnc: #2f303a;
  --header-container-border: #ececec;
  --accent-txt-hvr-fcs-cl: #188ce8;
  --accent-social-link-light: #afb1b8;
  --accent-social-link-dark: rgba(255, 255, 255, 0.1);
  --clients-link: rgba(175, 177, 184, 1);
  --linear-gradient: rgba(47, 48, 58, 0.4);
  --box-shadow-porfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --backdrop: rgba(0, 0, 0, 0.2);

  /* ----------------- others  --------------------------- */
}
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--btn-txt-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*-------------------- reset styles --------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*----------------------- basy styles  ---------------------------- */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px dashed red;
  outline-offset: -2px;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  letter-spacing: 0.06em;
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  border-radius: 4px;
  bottom: none;
  border: none;
  padding: 10px 32px;

  display: block;
  margin: 0 auto;
}

.btn:hover,
.btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-hvr-fcs-cl);
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-txt-cl);
  background-color: var(--btn-prtfl);
  cursor: pointer;
  border: none;

  padding: 6px 22px;
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: var(--box-shadow-porfolio);
}

.header-link-logo-black {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--logo-black);
  display: block;
}

.logo-blue {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-txt-cl);
}

/* -------------------  Header  ------------------------ */

.header {
  border-bottom: 1px solid var(--header-container-border);
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-link-logo-black {
  display: block;
  margin-right: 93px;
  padding: 0 auto;
}

.header-nav-list,
.header-contacts-list {
  display: flex;
}

.header-nav-item {
  margin-right: 50px;
}

.header-contacts-item {
  margin-right: 30px;
}

.header-nav-item:nth-last-child(1),
.header-contacts-item:nth-last-child(1) {
  margin-right: 0;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-link,
.header-link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.header-link {
  position: relative;
}

.header-link-studio::after,
.header-link-portfolio::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-txt-cl);
}

.header-link-contacts {
  color: var(--hdr-cntcts-lst);
}

.header-link-studio,
.header-link-portfolio {
  color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus,
.header-link-contacts:hover,
.header-link-contacts:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

/*  ---------------- Эффективные решения  ---------------- */

.sentence-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--sctn-sntnc);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, var(--linear-gradient), var(--linear-gradient)),
    url('../images/hero.jpg');
}

.sntns-hr {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*---------------------- Особенности  -------------------*/

.container-features-list {
  display: flex;
  gap: 30px;
}

.features-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--btn-prtfl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.main-features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-features-text {
  line-height: calc(24 / 14);
  color: var(--hdr-cntcts-lst);
}

/*------------------------- Занятия -----------------*/

.work {
  padding-top: 0px;
}

.main-occupation-title {
  text-align: center;
  margin-bottom: 50px;
}

.container-main-occupation-list {
  display: flex;
  gap: 30px;
}

.main-occupation-title {
  font-size: 36px;
  line-height: calc(42 / 36);
}

/*  -------------------- Команда --------------------*/

.main-team {
  background-color: var(--btn-prtfl);
}

.main-team-title-head {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.container-main-team-list {
  display: flex;
  gap: 30px;
}

.team-card-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--btn-txt-cl);
}

.team-card-content {
  text-align: center;
  padding: 30px 0;
}

.main-team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.main-team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--hdr-cntcts-lst);

  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--btn-txt-cl);
  border-radius: 50%;
  color: var(--accent-social-link-light);
}

/* outline: 2px dashed red;
  outline-offset: -2px;
*/

.social-link:hover,
.social-link:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}

.social-icon {
  fill: currentColor;
}

/* ------------------ Постійні клієнти  ------------------------- */

.container-clients {
  display: block;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 50px;
}

.section-clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--clients-link);
  color: var(--clients-link);

  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-txt-cl);
  border: 1px solid var(--accent-txt-cl);
}

.clients-icon {
  fill: currentColor;
}

/*  ----------------- PORFOLIO page  ------------------------- * /

/*  -------------- Portfolio navigation  ------------------ */

.section-portfolio {
  padding: 94px 0;
}

/*  ----------------- Portfolio BTN  ----------------------- */

.container-portfolio-navigation-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* ---------------- Portfolio ------------------------------- */

.container-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--box-shadow-porfolio);
}

.porfolio-div-contents {
  border: 1px solid var(--porfolio-border-img);
  padding: 20px 24px;
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--hdr-cntcts-lst);
}

/*----------------------Footer------------------------------- */

.footer {
  background-color: var(--sctn-sntnc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-container-contacts {
  margin-right: 70px;
}

.footer-link-logo-white {
  display: block;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--btn-txt-cl);
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.footer-link-location {
  line-height: calc(24 / 14);
  color: var(--btn-txt-cl);
}

.footer-link {
  line-height: calc(24 / 14);
  color: var(--item-light);
}

.footer-item,
.footer-address-location-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-container-social {
  display: block;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--accent-social-link-dark);
  border-radius: 50%;
  color: var(--btn-txt-cl);

  /*outline: 2px dashed red;
  outline-offset: -2px;*/
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-social-icon {
  fill: currentColor;
}

/* --- Modal window --- */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop);
}
